.datatable {
  height: 600px;
  padding: 20px;
}

.datatable .datatable-title {
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.datatable .datatable-title .link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
}

.datatable .cell-with-image {
  display: flex;
  align-items: center;
}

.datatable .cell-with-image .cell-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.datatable .cell-with-status {
  padding: 5px;
  border-radius: 5px;
}

.datatable .cell-with-status.active {
  color: green;
  background-color: rgba(0, 128, 0, 0.05);
}

.datatable .cell-with-status.pending {
  color: goldenrod;
  background-color: rgba(255, 217, 0, 0.05);
}

.datatable .cell-with-status.passive {
  color: crimson;
  background-color: rgba(255, 0, 0, 0.05);
}

.datatable .cell-action {
  display: flex;
  gap: 15px;
}

.datatable .cell-action .link {
  text-decoration: none;
}

.datatable .cell-action .view-button {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.datatable .cell-action .delete-button {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}
